.fade-in-image { 
	animation :fadeIn 20s;
	-webkit-animation: fadeIn 20s;
	-moz-animation: fadeIn 20s;
	-o-animation: fadeIn 20s;
	-ms-animation: fadeIn 20s;	
}
@keframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1}
	
	
}
@-moz-keframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1}
}
@-ms-keframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1}
}
.button {
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }
    
    .small-btn {
        width: 50px;
        height: 25px;
    }
    
    .medium-btn {
        width: 70px;
        height: 30px;
    }
    
    .big-btn {
        width: 90px;
        height: 40px;
    }
